.div{
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem; 
  padding: 0.5rem; 
  align-items: center;
}

.button{
  background-color: #BFDBFE; /* Equivalent to bg-blue-200 in Tailwind */
  padding-left: 1rem; /* Equivalent to px-4 in Tailwind */
  padding-right: 1rem; /* Equivalent to px-4 in Tailwind */
  padding-top: 0.5rem; /* Equivalent to py-2 in Tailwind */
  padding-bottom: 0.5rem; /* Equivalent to py-2 in Tailwind */
  border-radius: 0.375rem;
}